<!-- The navigation menu --> <div class="navbar">
 <a href="#home">Home</a>
 div class="subnav">
 <button class="subnavbtn">About <i class="fa fa-caret￾down"></i></button>
 div class="subnav-content">
 <a href="#company">Company</a>
 href="#team">Team</a>
 href="#careers">Careers /a
 /div>
 /div>
 div class="subnav">
 button class="subnavbtn">Services <i class="fa fa-caret￾down"></i></button
 div class="subnav content">
 href="#bring">Bring</a>
 href="#deliver">Deliver /a
 href="#package">Package /a
 href="#express">Express /a
 /div
 /div
 div class="subnav">
 button class="subnavbtn">Partners class="fa fa caret
down"></i></button
 div class="subnav content">
 href="#link1">Link 1</a>
 href="#link2">Link 2 /a
 href="#link3">Link 3 /a
 href="#link4">Link 4 /a
 /div
 /div
 href="#contact">Contact /a
/div>