<div class="container">

           <h2><b>${properties.heading}</b></h2>
           <img src="${properties.fileReference}" alt="Avatar" style="width:25%">
           <br>
           <a>${properties.link}</a>
           <p>${properties.cta}</p>
          <div> ${properties.description @ context='html'}</div>

 </div>


